# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env
.venv/

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
